<ion-header>
	<ion-toolbar>
		<ion-title>Create User</ion-title>
		<ion-buttons slot="end">
			<ion-button (click)="dismiss()">Close</ion-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content fullscreen>
	<ion-grid>
		<ion-row justify-content-center>
			<ion-col size="5">
				<ion-item no-padding>
					<ion-label position="stacked">Username</ion-label>
					<ion-input></ion-input>
				</ion-item>

				<ion-item no-padding>
					<ion-label position="stacked">Email</ion-label>
					<ion-input></ion-input>
				</ion-item>

				<ion-item no-padding>
					<ion-label>Action Sheet</ion-label>
					<ion-select interface="popover">
						<ion-select-option>Administrator</ion-select-option>
					</ion-select>
				</ion-item>

			</ion-col>

			<ion-col size="5">

				<ion-item no-padding>
					<ion-label position="stacked">Password</ion-label>
					<ion-input></ion-input>
				</ion-item>

			</ion-col>

		</ion-row>
	</ion-grid>
</ion-content>